github "Alamofire/Alamofire"
github "adamwaite/Validator"
github "Ekhoo/Device"

# UI
github "kean/Nuke"
github "thii/FontAwesome.swift"
github "optonaut/ActiveLabel.swift"
github "pkluz/PKHUD"
github "SnapKit/SnapKit"

# Basic
github "kishikawakatsumi/KeychainAccess"
github "radex/SwiftyUserDefaults"
github "auth0/JWTDecode.swift"
github "RxSwiftCommunity/NSObject-Rx"
github "ReactiveX/RxSwift"
github "RxSwiftCommunity/RxKeyboard"